body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(255, 158, 237);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.quiz-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
