body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(255, 0, 208);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}